<div class="container" style="width: 450px;" [formGroup]="resetPasswordForm">
    <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
    <p *ngIf="successMessage" style="color: green;">{{ successMessage }}</p>

    <label for="password">New Password:</label>
    <input id="password" type="password" formControlName="password" required />
    <div *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched">
        <ul class="error-list">
            <li *ngIf="resetPasswordForm.get('password')?.errors?.['uppercaseRequired']">1 uppercase letter minimum</li>
            <li *ngIf="resetPasswordForm.get('password')?.errors?.['numberRequired']">1 number minimum</li>
            <li *ngIf="resetPasswordForm.get('password')?.errors?.['minLength']">8 characters minimum</li>
        </ul>
    </div>

    <label for="confirmPassword">Confirm Password:</label>
    <input id="confirmPassword" type="password" formControlName="confirmPassword" required />
    <div *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched"
        style="line-height: 0;">
        <small style="color: red;"
            *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['passwordMismatch']">Passwords do not
            match.</small>
    </div>

    <button (click)="onResetPassword()" [disabled]="resetPasswordForm.invalid">Save</button>
</div>