<div class="container" style="width: 450px; margin: auto;" [formGroup]="recoverForm">
  <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>

  <label for="email">Email address:</label>
  <input id="email" type="email" formControlName="email" required />
  <div *ngIf="recoverForm.get('email')?.invalid && recoverForm.get('email')?.touched" style="line-height: 0;">
    <small style="color: red;" *ngIf="recoverForm.get('email')?.errors?.['invalidEmail']">
      Enter a valid email address.
    </small>
  </div>

  <button (click)="onRecover()" [disabled]="recoverForm.invalid">Submit</button>
</div>