<header class="site-header">
    <div class="logo-container">
        <a href="/dashboard">
            <img src="assets/logo.png" alt="Logo" class="logo">
        </a>
    </div>
    <nav>
        <div class="account-info">
            <span class="welcome-text">Hello, Admin</span>
        </div>
        <div class="accountIconContainer">
            <img src="assets/account.png" alt="Account" class="accountIcon" (click)="toggleDropdown()">
        </div>
        <div id="accountDropdown" class="dropdown" [style.display]="dropdownVisible ? 'block' : 'none'">
            <ul>
                <li (click)="navigateTo('dashboard')">Dashboard</li>
                <li (click)="navigateTo('login')">Log out</li>
            </ul>
        </div>
    </nav>
</header>
<div class="site-header-invisible">
    <h1 class="page-title">ADMIN DASHBOARD</h1>
</div>

<div class="container" style="width: 450px;">
    <!-- <div class="container full-width" style="margin: 50px auto 50px auto;">
        <div class="statistics-dropdown">
            <select id="tableSelector" (change)="onTableChange($event)">
                <option value="occupancy">Occupancy Statistics</option>
                <option value="entrance">Entrance Statistics</option>
                <option value="exit">Exit Statistics</option>
            </select>
        </div>

        <div class="statistics-container">
            <table class="statistics-table">
                <thead>
                    <tr>
                        <th></th>
                        <th *ngFor="let hour of hours">{{ hour }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of selectedStatistics; let i = index">
                        <td>{{ daysOfWeek[i % daysOfWeek.length] }}</td>
                        <td *ngFor="let value of row" [style.backgroundColor]="getColor(value)">
                            {{ value.toFixed(2) }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> -->

    <!-- <div class="container full-width" style="margin: 50px auto 50px auto;"> -->
    <table id="emailsTable">
        <thead>
            <tr>
                <th>Accounts</th>
            </tr>
        </thead>
        <tbody #tableBody>
            <tr *ngFor="let email of emailsTable" [attr.data-email]="email">
                <td>
                    <div class="cell-wrapper">
                        <div class="checkbox-text-wrapper">
                            <span>{{ email }}</span>
                        </div>
                        <button title="View" class="view-button" (click)="viewAccount(email)">
                            <img src="assets/select.png" alt="View" class="icon" />
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- </div> -->
</div>